@{
    ViewData["Title"] = "BalManiq";
}
<div class="container">
    <div class="image-container">
        <img src="Images/Background1.png"  />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <hr width="100%" color="#d6c9c1" />
    <div class="HomePage">
        <h2>
            Насладете се на нашата колекция
            <br />
            … и открийте РОКЛЯТА – специалната, единствената!
        </h2>
        <hr width="100%" color="#d6c9c1" />
        <br />
        <br />
        <div class="Images">
            <div class="Dress">
                <a asp-controller="Dresses"><img src="Images/LongDress.png" /></a>
                <h2>Бални рокли</h2>
                <p>
                    Всяка година подбираме за вас богата селекция
                    бални и абитуриентски рокли от колекциите на най-популярните световни брандове.Богата палитра от цветове,фини материи,бродерии обсипани с блясък,правят всяка рокля специална.В "Бал Мания" е роклята, която ще те превърне в Кралицата на бала!
                </p>

            </div>
            <div class="Accessories">
                <a asp-controller="Accessories"><img src="Images/Asseccories.png" /></a>
                <h2>Аксесоари</h2>
                <p>Ако търсите акцент за официален повод,в нашия каталог ще намерите висококачествени аксесоари за всеки вкус. Направете своя избор и добавете щипка изисканост към своя стил!</p>

            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="LongDress">
        <div>
            <img src="Images/LongDress1.png" />
            <img src="Images/LongDress2.png" />
            <img src="Images/LongDress3.png" />
        </div>
        <br />
        <div>
            <img src="Images/LongDress4.png" />
            <img src="Images/LongDress5.png" />
            <img src="Images/LongDress6.png" />
        </div>
    </div>
    <br />
    <br />
    <hr color="#d6c9c1" />
    <div class="text">
        <p>
            Магазин "БалМания" е мястото където красотата, блясъкът и опитът се срещат!
            <br />
            Благодарни сме,че сме част от празника на хиляди доволни клиентки!
        </p>
    </div>
    <hr color="#d6c9c1" />
    <br />
    <br />
    <br />
</div>

