@{
    ViewData["Title"] = "Условия при покупка и заявки";
}
<br />
<br />
<br />
<br />
    <div class="container py-2">
     <h1 class="mb-4 text-center" style="font-family:'Times New Roman', Times, serif">Условия при покупка и заявки</h1>
     <hr />
     <br />
     <div class="accordion" id="termsAccordion">

        <div class="accordion-item" style="background-color:whitesmoke">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" style="font-family:'Times New Roman', Times, serif">
                        1. Заявки и потвърждение
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Поръчки се приемат онлайн, по телефон или в социалните мрежи.</li>
                            <li>Потвърждение се изпраща до 24 часа.</li>
                            <li>За рокли по поръчка се изисква аванс от 50%.</li>
                        </ul>
                    </div>
                </div>
            </div>


        <div class="accordion-item" style="background-color:whitesmoke">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" style="font-family:'Times New Roman', Times, serif">
                        2. Срок на изработка и доставка
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Наличните рокли се изпращат до 3 работни дни.</li>
                            <li>Индивидуални поръчки – срок до 20 работни дни.</li>
                            <li>Доставка с куриер според локацията на клиента.</li>
                        </ul>
                    </div>
                </div>
            </div>


        <div class="accordion-item" style="background-color:whitesmoke">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" style="font-family:'Times New Roman', Times, serif">
                        3. Плащане
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Наложен платеж, банков превод или онлайн плащане.</li>
                            <li>Авансово плащане за поръчки по мярка.</li>
                        </ul>
                    </div>
                </div>
            </div>


        <div class="accordion-item" style="background-color:whitesmoke">
                <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" style="font-family:'Times New Roman', Times, serif">
                        4. Връщане и замяна
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Връщане на стандартни рокли в рамките на 7 дни.</li>
                            <li>Рокли по поръчка не се връщат, освен при дефект.</li>
                        </ul>
                    </div>
                </div>
            </div>


        <div class="accordion-item" style="background-color:whitesmoke">
                <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" style="font-family:'Times New Roman', Times, serif">
                        5. Рекламации
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Сигнализирайте до 48 часа при грешка или дефект.</li>
                            <li>Замяна или връщане на сума при потвърдена рекламация.</li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="accordion-item" style="background-color:whitesmoke">
                <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" style="font-family:'Times New Roman', Times, serif">
                        6. Контакти
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#termsAccordion">
                <div class="accordion-body" style="font-family:'Times New Roman', Times, serif">
                        <ul>
                            <li>Работно време: 10:00 – 18:00 ч.</li>
                            <li>Контакт чрез форма, имейл или телефон.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
